
#wrap{
background-color: #e6ffff;
font-family:garamond;
}
h1 {color:orange;
  text-align:center;
}

script { 
  width:250px;
  height:250px;
  float:right;
  clear:left;
}
#HomeBtn{ 
  display:inline-block;
  position:relative;
  text-align:center;
  list-style:none;
  background-color: #b6ffff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#HomeBtn a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
  
}
#HomeBtn a:hover {
  padding:7px;
   background-color: #e6ffff; 
    color: white;
}
#AboutBtn{ 
   display:inline-block;
  position:relative;
  text-align:center;
  list-style:none;
  background-color: #b6ffff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#AboutBtn a {  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
#AboutBtn a:hover {
  padding:7px;
   background-color: #e6ffff; 
    color: white;
}
#LinkBtn{ 
  display:inline-block;
  position:relative;
  text-align:center;
  list-style:none;
  background-color: #b6ffff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#LinkBtn a {
  position:relative;
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
#LinkBtn a:hover {
  padding:7px;
   background-color: #e6ffff; 
    color: white;
}
