#wrap{
background-color: #e6ffff;
font-family:garamond;
}
h1 {color:orange;
  text-align:center;
}

script { 
  width:250px;
  height:250px;
  float:right;
  clear:left;
}
ul{
 list-style-type:none;
  margin: 1;
  padding: 5px;
  overflow: hidden;
  background-color:#b6ffff;
  color:white;
  float:center;
}  
li a{
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
li a:hover{
  padding:7px;
  background-color:grey; 
}
#HomeBtn{ 
  float:left;
}
#HomeBtn a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
#HomeBtn a:hover {
  padding:7px;
  background-color:grey; 
}
#AboutBtn{ 
  float:left;
}
#AboutBtn a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
#AboutBtn a:hover {
 background-color:grey; 
}
#LinkBtn{ 
  float:left;
}
#LinkBtn a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
#LinkBtn a:hover {
 background-color:grey; 
}
