*{
background-color: #e6ffff;
font-family:garamond;
}
h1 {color:orange;
  text-align:center;
}

script { 
  width:250px;
  height:250px;
  float:right;
  clear:left;
}
ul{
 list-style-type:none;
  margin: 1;
  padding: 0;
  overflow: hidden;
  background-color:black;
  color:white;
}  
#mybutton{ 
  float:left;
}
#mybutton a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
#mybutton a:hover {
 background-color:grey; 
}
