h1 {color:orange;
  text-align:center;
}

body { 
  width:250px;
  height:250px;
  float:center;
}
ul{
 list-style-type:none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}  
li{ 
  display:inline;
}
li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family:garamond;
}
li a:hover {
 background-color:grey; 
}
